label {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  vertical-align: middle;

  input[type=radio] + span{
    margin-left: 25px;
    display: block;
    padding: 2px;

    &:before{
      content: '';
      height: 15px;
      width: 15px;
      border: 1px solid #000;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: -3px;
    }

    &:after{
      content: '';
      height: 8px;
      width: 8px;
      background-color: #000000;
      border-radius: 50%;
      position: absolute;
      top: 4px;
      left: 1px;
      display: none;
    }
  }

  input[type=radio] {
    height: auto;
    min-width: auto;
    display: none;

    &:checked + span:after{
      display: block;
    }
  }
  &:focus{
    outline: none;
    span{
      background-color: #0078D7;
      color: #ffffff;
    }
  }

}
